POSTGRES_DB=
POSTGRES_HOST=
POSTGRES_PORT=
POSTGRES_USER=
POSTGRES_PASSWORD=

FRONTEND_HOST=
APP_NAME=CareerPath-AI

MAIL_USERNAME=
MAIL_PASSWORD=
MAIL_PORT=
MAIL_SERVER=
MAIL_STARTTLS=
MAIL_SSL_TLS=
MAIL_FROM=
USE_CREDENTIALS=

DEBUG=
SECRET_KEY=
FORGET_PWD_SECRET_KEY=
ALGORITHM=
ACCESS_TOKEN_EXPIRE_MINUTES=

RESET_PASSWORD_TOKEN_EXPIRE_HOURS=1

GEMINI_API_KEY=